@page "/counter"
@using PeopleOps.Web.Services
@using Supabase.Gotrue
@using Client = Supabase.Client
@rendermode InteractiveServer
@inject Client supabase
@inject IEmailService EmailService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div role="status" style="padding-bottom: 1em;">
    Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge>
</div>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        var signInUrl = supabase.Auth.SignIn(Constants.Provider.Google);

        /*await EmailService.SendEmailAsync("dpitallano@gmail.com;" +
                                          "jefferson.delacruz@agiletechops.com;" +
                                          "dennis.pitallano@agiletechops.com" +
                                          ";gabriel.cabrera@agiletechops.com;" +
                                          "mira.marcos@agiletechops.com;" +
                                          "dave.nivera@agiletechops.com;" +
                                          "roxanne.luna@agiletechops.com;" +
                                          "marino.baria@agiletechops.com;" +
                                          "paul.parinas@agiletechops.com;" +
                                          "christian.baldeo@agiletechops.com;" +
                                          "bill.duque@agiletechops.com", "Complete 1 card", $"Current count: {currentCount}");*/
        
        currentCount++;
    }
}

