@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Caching.Hybrid
@using Client = Supabase.Client
@inject Client Supabase
@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HybridCache Cache
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
@*<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <p>Welcome, @pr.User.Claims.First(c=>c.Type == "email").Value</p>
        </Authorized>
        <NotAuthorized>
            <p>You are not authorized to view this page.</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>*@

@code
{
    AuthenticationState pr;
    protected override async Task OnInitializedAsync()
    {
        var user = Supabase.Auth.CurrentUser;
       var result =   await Cache.GetOrCreateAsync("user", entry =>
        {
            var name = "Dennis Pitallano";
            return ValueTask.FromResult(name); 
        });
      //  pr = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        //await base.OnInitializedAsync(); 
    }
}
