@inherits LayoutComponentBase
<FluentLayout Style="background-image: url('assets/media/images/bg-10.png');
background-repeat:no-repeat; background-position:50%; justify-content:center;">
    <FluentHeader Style="background:transparent;">
        
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Vertical"
                 VerticalAlignment="VerticalAlignment.Center" Width="100%">
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter Style="background:transparent;">
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        <FluentSpacer/>
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">People Ops</a>
    </FluentFooter>
</FluentLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<FluentToastProvider/>
<FluentTooltipProvider @rendermode="InteractiveServer"/>
<FluentDialogProvider @rendermode="InteractiveServer"/>